<div class="zx-visual-editor-block">
    <div class="visual-editor-actions-block">
        <div class="visual-editor-actions">
            <a class="visual-editor-edit"
               data-code="{{ block.code }}"><i class="nav-icon icon-note"></i>
                {{ 'zentlix_main.edit' | trans }}
            </a>
        </div>
    </div>
    <div class="visual-editor-content"
         data-class="{{ class }}"
         data-code="{{ block.code }}"
         data-form="{{ form }}"
         contenteditable="true"
         title="{{ 'zentlix_block.click_edit_text' | trans }}">{{ block.content | raw }}</div>
</div>